aiodns==3.0.0
    # via aiohttp
aiohttp[speedups]==3.8.5
    # via resotolib
aiosignal==1.3.1
    # via aiohttp
annotated-types==0.5.0
    # via pydantic
async-timeout==4.0.3
    # via aiohttp
attrs==23.1.0
    # via
    #   aiohttp
    #   cattrs
    #   resotolib
autocommand==2.2.2
    # via jaraco-text
brotli==1.1.0
    # via aiohttp
cachetools==5.3.1
    # via google-auth
cattrs==23.1.2
    # via resotolib
certifi==2023.7.22
    # via
    #   kubernetes
    #   requests
cffi==1.16.0
    # via
    #   cryptography
    #   pycares
charset-normalizer==3.3.0
    # via
    #   aiohttp
    #   requests
cheroot==10.0.0
    # via cherrypy
cherrypy==18.8.0
    # via resotolib
cryptography==42.0.4
    # via
    #   fixca (pyproject.toml)
    #   resotolib
frozendict==2.3.8
    # via resotolib
frozenlist==1.4.0
    # via
    #   aiohttp
    #   aiosignal
google-auth==2.23.2
    # via kubernetes
idna==3.4
    # via
    #   requests
    #   yarl
inflect==7.0.0
    # via jaraco-text
jaraco-collections==4.3.0
    # via cherrypy
jaraco-context==4.3.0
    # via jaraco-text
jaraco-functools==3.9.0
    # via
    #   cheroot
    #   jaraco-text
    #   tempora
jaraco-text==3.11.1
    # via jaraco-collections
jsons==1.6.3
    # via resotolib
kubernetes==28.1.0
    # via fixca (pyproject.toml)
more-itertools==10.1.0
    # via
    #   cheroot
    #   cherrypy
    #   jaraco-functools
    #   jaraco-text
multidict==6.0.4
    # via
    #   aiohttp
    #   yarl
networkx==3.1
    # via resotolib
oauthlib==3.2.2
    # via
    #   kubernetes
    #   requests-oauthlib
parsy==2.1
    # via resotolib
pint==0.22
    # via resotolib
portend==3.2.0
    # via cherrypy
prometheus-client==0.17.1
    # via resotolib
psutil==5.9.5
    # via resotolib
pyasn1==0.5.0
    # via
    #   pyasn1-modules
    #   rsa
pyasn1-modules==0.3.0
    # via google-auth
pycares==4.3.0
    # via aiodns
pycparser==2.21
    # via cffi
pydantic==2.4.2
    # via inflect
pydantic-core==2.10.1
    # via pydantic
pyjwt==2.8.0
    # via resotolib
python-dateutil==2.8.2
    # via
    #   kubernetes
    #   resotolib
pytz==2023.3.post1
    # via tempora
pyyaml==6.0.1
    # via
    #   kubernetes
    #   resotolib
requests==2.31.0
    # via
    #   kubernetes
    #   requests-oauthlib
    #   resotolib
requests-oauthlib==1.3.1
    # via kubernetes
resotolib==3.8.0
    # via fixca (pyproject.toml)
rsa==4.9
    # via google-auth
setuptools==68.2.2
    # via zc-lockfile
six==1.16.0
    # via
    #   kubernetes
    #   python-dateutil
tempora==5.5.0
    # via portend
typeguard==4.1.5
    # via resotolib
typing-extensions==4.8.0
    # via
    #   inflect
    #   pint
    #   pydantic
    #   pydantic-core
    #   typeguard
typish==1.9.3
    # via jsons
tzdata==2023.3
    # via resotolib
tzlocal==5.0.1
    # via resotolib
urllib3==1.26.18
    # via
    #   kubernetes
    #   requests
websocket-client==1.6.3
    # via
    #   kubernetes
    #   resotolib
yarl==1.9.2
    # via aiohttp
zc-lockfile==3.0.post1
    # via cherrypy
